a{
    text-decoration: none;
}

@font-face {
    font-family: default-font;
    src: url('../Fonts/segoeui.ttf') format('truetype');
}

body {
    background: #DB6E51;
    margin: 0;
    display: flex;
    font-family: default-font;
    overscroll-behavior: none;
}

#navbar_container {
    background-color: #EE8658;
    width: 140px;
    max-width:140px;
    min-width:140px;
    height: 95%;
    margin-top: 1.5%;
    margin-left: 2.5%;
    border-radius: 30px;
    position: relative;
}

#map_container {
    background-color: #EE8658;
    width: 87%;
    height: 95%;
    margin-top: 1.5%;
    margin-left: 2.5%;
    border-radius: 30px;
    position: relative;
    overflow: auto;
    /*overflow: hidden;*/
}

#map_container::-webkit-scrollbar { display: none; }
#node_info_container::-webkit-scrollbar { display: none; }
#info_groups_container::-webkit-scrollbar { display: none; }

#node_info_container {
    background-color: #EE8658;
    width: 0%;
    height: 95%;
    margin-top: 1.5%;
    margin-left: 2.5%;
    margin-right: 0%;
    border-radius: 30px;
    position: relative;
    overflow: auto;
    transition: width .3s;
    transition-timing-function: ease;
}

#info_groups_container {
    overflow: scroll;
    height: 100%;
}

.info_group_name {
    font-size: 41px;
    color: wheat;
    font-weight: bold;
    margin-left: 24px;
    margin-top: 18px;
    margin-bottom: 23px;
}

.expand_node_info_container {
    width: 48% !important;
    margin-right: 2.5% !important;
}

.quest_node {
    width: 400px;
    height: 150px;
    background-color: #5F3B41;
    position: absolute;
    border-radius: 30px;
    border-style: solid;
    border-color: #EE8658;
    border-width: 10px;
}

.button {
    background-color: #5F3B41;
    position: fixed;
    float: left;
    bottom: 4%;
    color: wheat;
    text-align: center;
    font-size: 36px;
    left: 13%;
    padding: 13px 36px 19px 36px;
    border-radius: 50px;
    cursor: pointer;
    border-style: solid;
    border-color: #EE8658;
    border-width: 10px;
    z-index: 10;
}

.inflate {
    width: 500px;
    height: 210px;
    transition: width 3s, height 3s;
    transform: translate(-50%, 0); 
    position: absolute;
}

#close_node_info {
    width: 83px;
    height: auto;
    margin-left: 12px;
    margin-top: 12px;
    margin-bottom: 23px;
}

.btn_container { 
    min-height: 100px;
    margin-left: 22px;
    width: 479px;
    background-color: #5f3b41;
    border-radius: 15px;
    font-size: 41px;
    color: #f5deb3;
    line-height: 93px;
    padding-left: 26px;
    transition: all .3s;
    transition-timing-function: ease;
}

.node_list_element {
    background-color: #7c808e;
    min-height: 100px;
    width: 403px;
    border-radius: 15px;
    font-size: 41px;
    color: #f5deb3;
    line-height: 93px;
    margin-left: 26px;
    margin-top: 25px;
    position: relative;
    max-height: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 24px;
    text-align: left;
}

.connected_node > div {
    position: relative;
    top: -94px;
    right: -336px;
    width: 132px;
    height: 104px;
    background-image: linear-gradient(to right, transparent, #5f3b41 44px);
}

.connected_node > div > img {
    width: 64px;
    margin-top: 18px;
    margin-left: 33px;
}

.connected_node {
    background-color: #5f3b41;
    min-height: 100px;
    width: 450px;
    border-radius: 15px;
    font-size: 41px;
    color: #f5deb3;
    line-height: 93px;
    margin-left: 22px;
    margin-top: 25px;
    position: relative;
    z-index: 99;
    margin-bottom: 24px;
    padding-left: 26px;
}

#info_quest_name {
    float: right;
    font-size: 35px;
    color: wheat;
    margin-right: 28px;
    font-weight: bold;
    margin-top: 28px;
    width: 436px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}

.info_group {
    padding-top: 1px;
    background-color: #db6e51;
    margin-left: 21px;
    margin-right: 21px;
    border-radius: 22px;
    padding-bottom: 18px;
}

#info_header {
    position: fixed;
    background-color: #ee8658;
    border-radius: 30px;
    height: 99px;
    z-index: 99;
}

#new_node_wizard {
    position: relative;
    background: #db6e51;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: 48px;
    color: wheat;
}

#new_node_wizard > input {
    margin-top: 37px;
    width: 1000px;
    height: 82px;
    border-radius: 50px;
    border: solid 6px #db6e51;
    background-color: #ee8658;
    margin-bottom: 33px;
    color: wheat;
    font-size: 40px;
    padding-left: 26px;
}
#new_node_wizard > input:focus { outline: solid 5px #5f3b41; }

#new_node_wizard > div {
    width: 400px;
    background-color: #5f3b41;
    text-align: center;
    height: 79px;
    padding-top: 6px;
    border-radius: 50px;
}

#close_new_node_wizard {
    position: absolute;
    right: 9px;
    top: 10px;
}